*{font-family: monospace;}
a{text-decoration: none; color: black;}

body {
    left: 0;
    margin: 0;
    padding: 0;
  }
  
.bMain{
    max-width: 48rem;
    padding: 2rem;
    margin: auto;
}

p.fbCaption{
    text-align: center;
    font-size: x-large;
}

p.text{
    font-size: 1.8rem;
}

.logoBox img{
    max-width: 10rem;
    height: auto;
}

/*  fb2c: - Flex box (2) Column CSS properties */
.fb2c {
	margin: 0px;
	padding: 0%;
	display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.fb2c>div.item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 50%;
    -moz-box-flex: 0;
    -ms-flex: 0 50%;
    flex: 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fb2c>div.embeddedItem{margin: auto;}

@media only screen and (orientation:portrait) {
    .brief h1{font-size: 3em;}
    .brief h2{font-size: 2.8em;} 
    .brief p{font-size: 2em;} 
    .brief h6{font-size: 1.5em;}
    .fb2c>div.item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 100%;
        -moz-box-flex: 0;
            -ms-flex: 0 100%;
                flex: 0 100%;
    }
    .fb2c>div.embeddedItem {
		-webkit-box-flex: 0;
		-webkit-flex: 0 100%;
		   -moz-box-flex: 0;
		    -ms-flex: 0 100%;
		        flex: 0 100%;
	}
    .bMain{
        max-width: 58rem;
        padding: 2rem;
        margin: auto;
    }
    p.text{font-size: 1.5rem;}

    /*Flexbox Items Organization Classes*/
	.ord1{order: 1;}
	.ord2{order: 2;}
	.ord3{order: 3;}
	.ord4{order: 4;}
	.ord5{order: 5;}
	.ord6{order: 6;}
	.ord7{order: 7;}
	.ord8{order: 8;}
	.ord9{order: 9;}
	.ord10{order: 10;}
}


/* Default flex box item ordering, shown as written */
.ord1{order: default;}
.ord2{order: default;}
.ord3{order: default;}
.ord4{order: default;}
.ord5{order: default;}
.ord6{order: default;}
.ord7{order: default;}
.ord8{order: default;}
.ord9{order: default;}
.ord10{order: default;}

/* Colors */
.pal-1-1{background-color: #D5C7BC;}
.pal-1-2{background-color: #F1FFFA;}
.pal-1-3{background-color: #93B7BE;}
.pal-1-4{background-color: #785964;}
.pal-1-5{background-color: #454545;}
.pal-1-6{background-color: #fdd00b;}
.pal-1-7{background-color: #F1FFF3;}
.pal-1-8{background-color: #FFFAF1;}

.dimgray{background-color: #5b7278;}
.purp{background-color:#d890ff;}
.lightblue{background-color: #47e3ff;}
.greenSpring{background-color: #A5A996;}
.seaGreen{background-color: #398778;}
.limegreen{background-color: #47ffbf;}
.lightYellowGreen{background-color: #d9e0b3;}
.yellowgreen{background-color: #a2b241;}
.yellow{background-color: #ffed47;}
.tomato{background-color: #ff6347;}
.tangerine{background-color: #ffbf47;}
.fadedManila{background-color: #faf2de;}
.lightTan{background-color: #e8d9c5;}
.tan{background-color: #D2B48C;}
.darkTan{background-color: #695a46;}

.white{background-color: #fff;}
.offWhite{background-color: #f6f6f6;}
.lightgray{background-color: #e5e5e5;}
.gray{background-color: #666666;}
.darkGray{background-color: #999999;}
.black{background-color: black;}

.ducati{background-color: #d40000;}
.github{background-color:#6e5494;}

.eit{background-color: #ffa500;}
.hp{background-color: #0096d6;}
.hpe{background-color: #0DAB7F;}

.redTxt{color: tomato;}
.greenTxt{color: yellowgreen;}
.ducatiTxt{color: #d40000;}
.whiteTxt{color: #fff;}
.blackTxt{color: #000;}