body{
 	padding: 0;
	margin: 0;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

li{
	display: inline;
	float: left;
}

h1{
	text-decoration: none;
	size: 50px;
}

.header{
	list-style-type: none; 
	position: fixed; 
	display: block; 

	z-index: 900; 
	top: 0; 
	padding: 0; 
	margin: 0;
}

.float-nav{
	width: 200px; 
	height: auto; 
	padding: 10px;
}

.content{
	position: absolute;
	text-align: center;

	width: auto;
	height: auto;

	/*Centers Data to middle of page*/
	top: 50%;
	left: 50%;
	margin-left: -360px;
	margin-top: -200px;

	color: white;
	background: black;
	opacity: .9;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.text{
	margin: 3%;
	vertical-align: middle;
}

p{
	margin: 2%;
}

a{
	text-decoration: none;
	color:white;
}

.button{
	display: inline-block;
	float:center;
	cursor: pointer;

	background-color: gray;
	border: none;

	padding: 15px 32px;
	margin: 4px 2px;

	font-size: 16px;
	color: white;
	text-align: center;
	text-decoration: none;
	
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

.button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}