*{font-family: monospace;font-family: 'Source Sans Pro', sans-serif;}
a{text-decoration: none; color: black;}

body {
    left: 0;
    margin: 0;
    padding: 0;
  }
  
.bMain{
    max-width: 48rem;
    padding: 2rem;
    margin: auto;
}

p.fbCaption{
    text-align: center;
    font-size:1.5em;
}

h2.PEco{font-size: 1.75em; 
    text-align: center;}

p.PEco{font-size: 1.5em; 
    text-align: center;}

.logoBox img{
    max-width: 7.5em;
    height: auto;
}

/*Image Text Overlay Fade in and out loop */
.flashingTxt {
    -webkit-animation: fTxt 5s infinite;
    -moz-animation: fTxt 5s infinite;
    -o-animation: fTxt 5s infinite;
     animation: fTxt 5s infinite;
 }

.listTitle{font-size:calc(12px + 1vw);}
.listItems{font-size:calc(12px + 0.5vw);}
.text{font-size:calc(12px + 0.5vw);}


/*  fb2c: - Flex box (2) Column CSS properties */
.fb2c {
	margin: 0px;
	padding: 0%;
	display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.fb2c>div.item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 50%;
    -moz-box-flex: 0;
    -ms-flex: 0 50%;
    flex: 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fb2c>div.sqLandscape{height: 50vw;}
.fb2c>div.embeddedItem{margin: auto;}

/*  fb3c: - Flex box (2) Column CSS properties */
.fb3c {
	margin: 0px;
	padding: 0%;
	display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.fb3c>div.item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 33.333%;
    -moz-box-flex: 0;
    -ms-flex: 0 33.333%;
    flex: 0 33.333%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16.66665vw;
    font-size: 2em;
}

.fb3c>div.embeddedItem{margin: auto;}

/* Item container for layering content within a flex box */
.embeddedItem{width: 100%;}

/* embeddedItem padding for images, an optional visual preference for spacing */
.embeddedItem img{
	width: 94%;
	margin: 0%;
	padding: 3%;
}

.fb2c>div.embeddedItem{
	-webkit-box-flex: 0;
	-webkit-flex: 0 50%;
	-moz-box-flex: 0;
	-ms-flex: 0 50%;
	flex: 0 50%;}

@media only screen and (orientation:portrait) {

    .fb2c>div.embeddedItem {
		-webkit-box-flex: 0;
		-webkit-flex: 0 100%;
		   -moz-box-flex: 0;
		    -ms-flex: 0 100%;
		        flex: 0 100%;
	}

    .brief h1{font-size: 3em;}
    .brief h2{font-size: 2.8em;} 
    .brief p{font-size: 2em;} 
    .brief h6{font-size: 1.5em;}
    .fb2c>div.item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 100%;
        -moz-box-flex: 0;
            -ms-flex: 0 100%;
                flex: 0 100%;
    }
    .fb2c>div.embeddedItem {
		-webkit-box-flex: 0;
		-webkit-flex: 0 100%;
		   -moz-box-flex: 0;
		    -ms-flex: 0 100%;
		        flex: 0 100%;
	}
    .fb2c>div.sqItem {height: 100vw;};

    .bMain{
        max-width: 58rem;
        padding: 2rem;
        margin: auto;
    }
    .briefMain{
        max-width: 50rem;
        padding: 2rem;
        margin: auto;
    }

    .listTitle{font-size:calc(12px + 3vw);}
    .listItems{font-size:calc(12px + 2vw);}
    .text{font-size:calc(12px + 2vw);}

    h2.PEco{font-size:calc(12px + 3vw);
        text-align: center;}
    p.PEco{font-size:calc(12px + 2vw);
        text-align: center;}

    /*Flexbox Items Organization Classes*/
	.ord1{order: 1;}
	.ord2{order: 2;}
	.ord3{order: 3;}
	.ord4{order: 4;}
	.ord5{order: 5;}
	.ord6{order: 6;}
	.ord7{order: 7;}
	.ord8{order: 8;}
	.ord9{order: 9;}
	.ord10{order: 10;}
    .ord11{order: 11;}
    .ord12{order: 12;}
    .ord13{order: 13;}
    .ord14{order: 14;}
    .ord15{order: 15;}
    .ord16{order: 16;}
    .ord17{order: 17;}

    .fb3c>div.item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 33.333%;
        -moz-box-flex: 0;
        -ms-flex: 0 33.333%;
        flex: 0 33.333%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 33.333vw;
    }
}


/* Default flex box item ordering, shown as written */
.ord1{order: default;}
.ord2{order: default;}
.ord3{order: default;}
.ord4{order: default;}
.ord5{order: default;}
.ord6{order: default;}
.ord7{order: default;}
.ord8{order: default;}
.ord9{order: default;}
.ord10{order: default;}
.ord11{order: default;}
.ord12{order: default;}
.ord13{order: default;}

/* Colors */
.pal-1-2{background-color: #F1FFFA;}
.purp{background-color:#d890ff;}
.lightblue{background-color: #47e3ff;}
.greenSpring{background-color: #A5A996;}
.seaGreen{background-color: #398778;}
.limegreen{background-color: #47ffbf;}
.yellow{background-color: #ffed47;}
.tomato{background-color: #ff6347;}
.tangerine{background-color: #ffbf47;}
.tan{background-color: #D2B48C;}
.lightgray{background-color: #e5e5e5;}
.gray{background-color: #666666;}
.black{background-color: black;}

.ducati{background-color: #d40000;}
.github{background-color:#6e5494;}

.eit{background-color: #ffa500;}
.hp{background-color: #0096d6;}
.hpe{background-color: #0DAB7F;}

.redTxt{color: tomato;}
.greenTxt{color: yellowgreen;}
.ducatiTxt{color: #d40000;}
.whiteTxt{color: #fff;}
.blackTxt{color: #000;}

/* PICO-8 Palette 
    00 #000000	black
    01	#1D2B53	dark blue
    02	#7E2553	dark purple
    03	#008751	dark green
    04	#AB5236	brown
    05	#5F574F	dark gray
    06	#C2C3C7	light gray
    07	#FFF1E8	white
    08	#FF004D	red
    09	#FFA300	orange
    10	#FFFF27	yellow
    11	#00E756	green
    12	#29ADFF	blue
    13	#83769C	indigo
    14	#FF77A8	pink
    15	#FFCCAA	peach  */

.picoRed{background-color:#FF004D;}
.picoOrange{background-color:#FFA300;}
.picoYellow{background-color:#FFFF27;}
.picoGreen{background-color:#00E756;}
.picoLimeGreen{background-color:#A8E72E;}
.picoDarkGreen{background-color:#008751;}
.picoBlueGreen{background-color:#125359;}
.picoBlue{background-color:#29ADFF;}
.picoNavy{background-color: #1D2B53;}
.picoIndigo{background-color:#83769C;}
.picoDarkPurple{background-color:#7E2553;}
.picoPink{background-color:#FF77A8;}
.picoPeach{background-color:#FFCCAA;}
.picoBrown{background-color:#AB5236;}
.picoDarkGray{background-color:#5F574F;}
.picoLightGray{background-color:#C2C3C7;}
.picoWhite{background-color:#FFF1E8;}
.picoBlack{background-color: #000;}