/** Universal Style Defaults ::
* The group of style properties listed below
* are custom default settings for the site layout
* offering a uniform and familiar appeal. **/

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  left: 0;
  margin: 0;
  padding: 0;
}