li{
	display: inline;
	float: left;
}

h1{
	text-decoration: none;
	size: 50px;
}


.cover{
	position: absolute;
	///max-width: 70%;
	///max-height: 85%;
	width: auto;
	height: 100%;

	bottom: 0%;
	left: 0%;
}

.content{
	position: absolute;
	text-align: left;

	width: 45%;
	height: auto;

	bottom: 2.5%;
	left: 55%;

	color: white;
	background: black;
	opacity: .9;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.text{
	margin: 3%;
	vertical-align: middle;
}

p{
	margin: 2%;
}

a{
	text-decoration: none;
	color:white;
}