/** LandingPage.css
*   This offers universal stylings for
*   landing page themes produced by MKC
*   the first group is generic for all
*   page types with minor content variation
*   offered as the document continues **/

a{
	text-decoration: none;
	color:white;
}

h1{
	text-decoration: none;
	size: 50px;
}

li{
	display: inline;
	float: left;
}

p{
	margin: 2%;
}

.text{
	margin: 3%;
	vertical-align: middle;
}


/** Simple About Me Page
*   The group of style properties listed below
*   are custom element stylings for the simeple 
*   about header, body, and footer contents **/

.about{
	background-image: url("../../img/bkg/20161002.jpeg");
  	background-size:     cover;         
  	background-repeat:   no-repeat;
  	background-color: #101010;
 }

.ducatiMP{
	background-image: url("../../img/bkg/20161128.jpg");
  	background-size:     cover;         
  	background-repeat:   no-repeat;
  	background-color: #101010;
 }


/** Header
*   The group of style properties listed below
*   are custom element stylings for branding a
*   landing page with a company logo **/

.header{
 	list-style-type: none; 
 	position: fixed; 
 	display: block; 
 	z-index: 900; 
 	top: 0; 
 	padding: 0; 
 	margin: 0;
}

.float-nav{
 	width: 200px;
	min-width: 10%;
	max-width: 50%;
 	height: auto; 
 	padding: 10px;
}


/** Footer
* The group of style properties listed below
* are custom element stylings for the simeple 
* about footer **/

.footer {
	position: absolute;
	background: #FFF;
	z-index: 500;
	opacity: .9;

	bottom: 10%;
	left: 16.666%;

	width: 66.666%;
	height: auto;

	text-align: center;
	color: black;
	
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.footerContent {
	margin: 3%;
	vertical-align: middle;
}


/** Positioned Center Body Content
*   Styling specifically for a landing page with
*   body content and multi media centered in the 
*   middle of the page **/

.contentCentered{
	position: absolute;
	text-align: center;

	width: auto;
	height: auto;

	/*Centers Data to middle of page*/
	top: 50%;
	left: 50%;
	margin-left: -360px;
	margin-top: -300px;

	color: white;
	background: #c17577;
	opacity: .9;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


/** Positioned Right Bottom Body Content
*   Styling specifically for a landing page with
*   body content and text centered at the bottom 
*   of the page **/

.contentRight{
	position: absolute;
	text-align: left;

	width: 45%;

	height: auto;
	max-height: 90%;

	bottom: 2.5%;
	right: 0;

	color: white;
	background: black;
	opacity: .9;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.cover{
	position: absolute;
	width: auto;
	height: 100%;

	bottom: 0%;
	left: 0%;
}


/** Body Content Positioned Right Center
*   Styling specifically for a landing page with
*   body content and text centered at the right 
*   and middle of the page **/

.contentCenterRight{
	position: absolute;
	padding-right: 3%;
	min-width: 45%; 
	height: auto;
	top: 5%;
	left: 50%;
}

.leftImage{
	position: fixed; 
	left: 10%; 
	top: 13%; 

	max-width: 40%; 
	max-height: 80%;
}

@media only screen and (orientation:landscape){.contentCenterRight{top: 20%;max-width: 65%; left: 60vh;}}
@media only screen and (orientation:portrait){.leftImage{left: 5%; top:20%;}}