h1{
	position: absolute;
	padding: 1%;
	text-align: center;
	margin-left: 40%;
}

.arrow{
	display: inline-block; 
	float: left;
}

.specs{
	list-style-type: square;
	float: center;
}

.bulletin{
	background-color: #edfcf6;
}

.cover{
	background-color: black;
	font-size: 1.5em;


	color: white;
	opacity: .7;
}