body{
	background-color: black;
}

h1{
	position: absolute;
	padding: 1%;
	margin-left: 10%;
	color: #e54d42;
	font-size: 3em;
}

.arrow{
	display: inline-block; 
	float: left;
}

.specs{
	list-style-type: square;
	float: center;
}

.bulletin{
	background-color: #edfcf6;
}

.cover{
	background-color: #191919;
	font-size: 1.5em;
	color: #e54d42;;
}