/*container.css*/
*{font-family: 'Anonymous Pro', monospace;}

a{
    text-decoration: none;
    color: black;
}

.anc {font-size: 1.8vw;}

/* mouse over link */
#ancAbout:hover {color: green;}
#ancWork:hover {color: #999999;}
#ancResa:hover {color: #D2B48C;}
#ancArt:hover {color: #ff6347;}

.anc a:hover {
    color: gray;
}

/* True Page Body Content */
.wrapper{
	z-index: 500;
	position: absolute; 
	top: 0; 
	right: 0%; 
	width: 105vh;
	max-width: 75%;
	height: 100%;
}

/* Floating Navigation Box */
.navBox{
	z-index: 800;
	position: absolute; 
	top: 0;
	left: 0; 
	max-width: 40%;
	min-width: 25%;
	width: calc(100vw - 105vh);
	height: auto;
	padding-top: 5%;
	padding-bottom: 150px;
	background-color: white;
}

.navBox img{
	width: 50%;
	min-width: 100px;
	max-width: 399px;
	padding: 2% 7.5vw 2% 7.5vw;
}

.navLinks{
	position: absolute;
	left: 0vw;
}

@media (max-width: 1200px) {
	.wrapper{width: 105vh; max-width: 75%;}
	.navBox{max-width: 25%; left: -2vw;}
	.navLinks{left:-8vw;}
}
