/*container.css*/
*{font-family: 'Anonymous Pro', monospace;}

a{
    text-decoration: none;
    color: black;
}

.anc {font-size: 1.8vw;}
.anc a:hover {color: gray;}


//Custom Anchor Styling
/* mouse over link */
#ancAbout:hover {color: green;}
#ancWork:hover {color: #999999;}
#ancResa:hover {color: #D2B48C;}
#ancArt:hover {color: #ff6347;}


/* True Page Body Content */
.wrapper{
	z-index: 500;
	position: absolute; 
	top: 0; 
	right: 0%; 
	width: 105vh;
	max-width: 75%;
	height: 100%;
}

/* Floating Navigation Box */
.navBox{
	z-index: 800;
	position: fixed; 
	top: 0;
	left: 0; 
	max-width: 40%;
	min-width: 25%;
	width: calc(100vw - 105vh);
	height: auto;
	padding-top: 5%;
	padding-bottom: 150px;
	background-color: white;
}

.navBox img{
	width: 50%;
	min-width: 100px;
	max-width: 399px;
	padding: 2% 7.5vw 2% 7.5vw;
}

.navLinks{
	position: fixed;
	left: 0vw;
}

@media (max-width: 1200px) {
	.wrapper{width: 105vh; max-width: 75%;}
	.navBox{max-width: 25%; left: -2vw;}
	.navLinks{left:-8vw;}
}

/** Anchor Text Animation
*    Very specific to the index page **/
	#ancAbout{
	    -webkit-animation: ccaa 3s infinite;
	    -moz-animation: ccaa 3s infinite;
	    -o-animation: ccaa 3s infinite;
	    -ms-animation: ccaa 3s infinite;
	    animation: ccaa 3s infinite;
	}

	@-webkit-keyframes ccaa {
	    0% { color: green; }
	    37.5% { color: green; }
	    100% { color: black; }
	}
	@-moz-keyframes ccaa {
	    0% { color: green; }
	    37.5% { color: green; }
	    100% { color: black; }
	}
	@-ms-keyframes ccaa {
	    0% { color: green; }
	    37.5% { color: green; }
	    100% { color: black; }
	}
	@-o-keyframes ccaa {
	    0% { color: green; }
	    37.5% { color: green; }
	    100% { color: black; }
	}
	@keyframes ccaa {
	    0% { color: green; }
	    37.5% { color: green; }
	    100% { color: black; }
	}

	#ancWork{
	    -webkit-animation: ccaw 3s infinite;
	    -moz-animation: ccaw 3s infinite;
	    -o-animation: ccaw 3s infinite;
	    -ms-animation: ccaw 3s infinite;
	    animation: ccaw 3s infinite;
	}

	@-webkit-keyframes ccaw {
	    0% { color: black; }
	    37.5% { color: #999999; }
	    75% { color:  #999999; }
	    100% { color: black; }
	}
	@-moz-keyframes ccaw {
	    0% { color: black; }
	    37.5% { color: #999999; }
	    75% { color:  #999999; }
	    100% { color: black; }
	}
	@-ms-keyframes ccaw {
	    0% { color: black; }
	    37.5% { color: #999999; }
	    75% { color:  #999999; }
	    100% { color: black; }
	}
	@-o-keyframes ccaw {
	    0% { color: black; }
	    37.5% { color: #999999; }
	    75% { color:  #999999; }
	    100% { color: black; }
	}
	@keyframes ccaw {
	    0% { color: black; }
	    37.5% { color: #999999; }
	    75% { color:  #999999; }
	    100% { color: black; }
	}

	#ancResa{
	    -webkit-animation: ccar 3s infinite;
	    -moz-animation: ccar 3s infinite;
	    -o-animation: ccar 3s infinite;
	    -ms-animation: ccar 3s infinite;
	    animation: ccar 3s infinite;
	}

	@-webkit-keyframes ccar {
	    0% { color: black; }
	    75% { color: #D2B48C; }
	    112.5% { color: #D2B48C; }
	    150% { color: black; }
	}
	@-moz-keyframes ccar {
	    0% { color: black; }
	    75% { color: #D2B48C; }
	    112.5% { color: #D2B48C; }
	    150% { color: black; }
	}
	@-ms-keyframes ccar {
	    0% { color: black; }
	    75% { color: #D2B48C; }
	    112.5% { color: #D2B48C; }
	    150% { color: black; }
	}
	@-o-keyframes ccar {
	    0% { color: black; }
	    75% { color: #D2B48C; }
	    112.5% { color: #D2B48C; }
	    150% { color: black; }
	}
	@keyframes ccar {
	    0% { color: black; }
	    75% { color: #D2B48C; }
	    112.5% { color: #D2B48C; }
	    150% { color: black; }
	}

	#ancArt{
	    -webkit-animation: ccat 6s infinite;
	    -moz-animation: ccat 6s infinite;
	    -o-animation: ccat 6s infinite;
	    -ms-animation: ccat 6s infinite;
	    animation: ccat 6s infinite;
	}

	@-webkit-keyframes ccat {
	    0% { color: black; }
	    56.25% { color: #ff6347; }
	    75% { color: #ff6347; }
	    93.75% { color: black; }
	}
	@-moz-keyframes ccat {
	    0% { color: black; }
	    56.25% { color: #ff6347; }
	    75% { color: #ff6347; }
	    93.75% { color: black; }
	}
	@-ms-keyframes ccat {
	    0% { color: black; }
	    56.25% { color: #ff6347; }
	    75% { color: #ff6347; }
	    93.75% { color: black; }
	}
	@-o-keyframes ccat {
	    0% { color: black; }
	    56.25% { color: #ff6347; }
	    75% { color: #ff6347; }
	    93.75% { color: black; }
	}
	@keyframes ccat {
	    0% { color: black; }
	    56.25% { color: #ff6347; }
	    75% { color: #ff6347; }
	    93.75% { color: black; }
	}