.container{
	display: inline-block;
	float: center;

	width: 100%;
	height: auto;
}

.text{
	margin-left: 10%;
	margin-right: 10%;

	width: 80%;
}

.box{
	width: 31%;
	height: auto;

	padding: 1%;
	margin: 0;
	
	float: left;
}

.content{
	width: 100%;

	margin: 0 auto;
	margin-bottom: 0px;
	padding-bottom: 0px;

	background-color: #fff;
}

.caption{
	position: absolute;
	margin-left: 7%;
	color: #e54d42;
	font-size: 5em;
}

.slideAnimate{
	animation-duration: 3s;
	animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 7%;
    width: 100%;
  }
}

/*Specific to Hardawre Page*/
.specs{
	list-style-type: square;
	float: center;
}