.container{
	margin-top: -4px;
	display: inline-block;
	float: center;

	width: 100%;
	height: auto;
}

.text{
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}

.box{
	width: 31%;
	height: auto;

	padding: 1%;
	margin: 0;
	
	float: left;
}

.nav{
	display: inline-block;
	width: 100%;
}

.content{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 0px;
	padding-bottom: 0px;

	background-color: #fff;
}