/** Header ::
* This cluster of styling properties host the
* animated header features, transition speeds,
* and logo asthetics. Designed for document-like
* webpage styles **/

body{
  height: 1000px;
  padding-top: 250px;
  background-color: black;
  
  transition: top 0.5s ease-in-out;

  background-image: url("../img/trainStation.jpeg");
  background-size:     cover;         
  background-repeat:   no-repeat;
  background-position: center center;
}

header {
  background: black;
  position: fixed;
  z-index: 500;

  height: 250px;
  width: 100%;

  top: 0;
  left: 0;

  font-size: 1.85em;
  text-align: center;

  transition: top 0.5s ease-in-out;
}

/** Header Text **/
a, a:hover, a:visited, a:link a:active{
  text-decoration: none;
  color: white;
}

a.active{
  color: #e74c3c; ;
}
a.active:active{
  color: white;
}

.nav-up{
  top: -200px;
}

#navlist li {
  display: inline;
  list-style-type: none;
  padding-right: 10px;
}

/** Header logo icon **/
IMG.logo {
  display: inline-block;

  margin-left: auto;
  margin-right: auto;
  
  max-width: 250px;
}


/** Menu ::
* Opening and collapsing 
* floating menu action button **/
.float {
  top: 0;
  left: 0;

  z-index: 900;
  position: fixed;

  padding-left: 10px;
  padding-top: 10px;
}

/* Hamburger Menu Icon */
IMG.menu {
	max-width: 25px;
}

/* Hamburger Menu Icon Animations */
#imgHolder {
  position:relative; 
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#imgHolder.rotated {
  -webkit-transform : rotate(180deg); 
  -moz-transform : rotate(180deg); 
  -ms-transform : rotate(180deg); 
  -o-transform : rotate(180deg); 
  transform : rotate(180deg); 
}

/** Responsive header width adjustments 
* based on screen width **/
@media (max-width: 800px) {
  header{
    height: 200px;
    font-size: 1.5em;
  }

  IMG.logo {
    max-width: 180px;
  }
}

@media (max-width: 600px) {
  header{
    height: 175px;
    font-size: 1.25em;
  }

  IMG.logo {
    max-width: 150px;
  }
}