/** Traditional Adaptable Grid ::
* These styles deal with supporting a 4 column grid.
* The objects have a fix width and stack accordingly.
* Content heavily borrowed from W3Schools**/

.row {
    margin: 0px;
    padding: 1.5%;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}

.column img {width: 95%; padding: 2.5%;}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - 
   makes a two column-layout instead of four columns */
@media only screen and (max-width: 800px) {
    /* Create four equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
    }
}

/* Responsive layout - 
   Stacks all columns into a single list*/
@media only screen and (max-width: 600px) {
    .column {
        float: left;
        width: 100%;
   }
}