/** Traditional Adaptable Grid ::
* These styles deal with supporting a 4 column grid.
* The objects have a fix width and stack accordingly.
* Content heavily borrowed from W3Schools**/

.row {
    padding-left: 5px;
    margin: 0 auto;
}
/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 23.5%;
    padding: 5px;
}

.column img {
    margin-top: 10px;
    width: 100%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - 
   makes a two column-layout instead of four columns */
@media only screen and (max-width: 800px) {
    body{
        top: -100px;
    }
    .column {
        width: 46%;
    }
}

/* Responsive layout - 
   makes the two columns stack on top of each other instead of next to each other */
@media only screen and (max-width: 600px) {
    body{
        top: -200px;
    }

    .column {
        width: 98%;
   }
}