*{
	text-decoration: none;
	text-decoration-color: none;
	font-family: 'Anonymous Pro', monospace;
}

/* unvisited link */
a, a:hover, a:visited, a:link a:active{
  text-decoration: none;
  color: black;
}

.mw-box{
	width: 80%; 
	padding-right: 10%; 
	padding-left: 10%;
}

.fw-box{
	width: 100%;
	margin: 0%;
	padding: 0%;
}

.fw-box img{
	margin: 0%;
	padding: 0%;
}

.sm-box{
	width: 33.333%; 
	padding-top: 33%; 
	
	float: left; 
	position: relative;
}

.container-box{
    display: flex;
    flex-wrap: wrap
    width: 100%;
}

.box{
    flex: 1;
    width: 50%;
}

.item{
  width: 100%;
}

.item img{
	width: 100%;
	margin: 0%;
	padding: 0%;
}

.tileBlock{
	width: 100%;
	//max-width: 25vw;
}

.tbV{
	width: 25%;
}

.tbV img{
	width: 100%;
	height: auto;
	margin-bottom: -2%;
}

.tbV h3{
	width: 80%;
	padding: 10%;
	padding-top: 5%;
	padding-bottom: 1%; 
	margin: 0%;
}

.tbV p{
	width: 80%;
	min-height: 10vw;
	max-height: 15vw;
	padding: 10%;
	margin: 0%;
}

.tbBig{
	-webkit-flex-basis: 50%; /* Safari 6.1+ */
    flex-basis: 50%;
}

.tileImg{
	min-height: 23vw;
}

.tileBlock img{
	width: 100%;
	height: auto;
	margin-bottom: -2%;
}

.tileBlock h3{
	width: 80%;
	padding: 10%;
	padding-top: 5%;
	padding-bottom: 1%; 
	margin: 0%;
}

.tileBlock p{
	width: 80%;
	min-height: 10vw;
	//max-height: 15vw;
	padding: 10%;
	margin: 0%;
  	text-overflow: ellipsis;
}

.tbIcon {
	width: 50%;
	padding: 25%;
}

.embeddedItem{
	width: 100%;
}

.embeddedItem img{
	width: 94%;
	margin: 0%;
	padding: 3%;
}

.fb2c {
  display: flex;
  flex-wrap: wrap;
}

.fb2c>div.embeddedItem{
  flex: 0 50%;
}

.fb2c>div.item {
  flex: 0 50%;
}

.fb4c {
  display: flex;
  flex-wrap: wrap;
}

.fbv {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.fb4c>div.embeddedItem{
  flex: 0 25%;
}

.fb4c>div.item {
  flex: 0 25%;
}

.fb4c>div.tileBlock {
  flex: 0 23%;
  padding: 1%;
}

#imIt{padding-top: 6%;}

#mainImage{
	padding-left: 5vw; 
	max-height: 100vh; 
	width: auto; 
	max-width: 40vw;
}

.square{min-height: 50vw;}

@media only screen and (orientation:portrait) {
	#imIt{padding-top: 0%;}

	.fb2c>div.item {
		flex: 0 100%;
	}

	.square{
		min-height: 100vw;
	}

	.embeddedItem img{
	width: 94%;
	margin: 0%;
	padding: 3%;
	}

	.fb4c>div.item {
		flex: 0 50%;
	}
	.fb4c>div.embeddedItem {
		flex: 0 50%;
	}

	.fb4c>div.tileBlock {
  		flex: 0 48%;
  		padding: 1%;
	}

	.tileBlock p{
		min-height: 30vw;
	}

	#mainImage{
		width: 80vw;
		max-width: 80vw;
		padding-left: 10vw; 
	}
}

.dub-box{
	margin: 0px;
	width: 66.666%;
	padding-top: 33%;

	float: left;
	position: relative;
}

.tiny-box{
	width: 16.666%;
	padding-top: 16.666%;

	float: left;
	position: relative;
}

.name{
	top: 50%;
	transform: translateY(-50%);
}

.sm-text{
	text-overflow: ellipsis;
	position: absolute;
	margin-left: 3vw;
	//font-size: 2.4vw;
	width: 80%;
	top: 50%;
	transform: translateY(-50%);
}

.sm-topic-text{
	text-overflow: ellipsis;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	font-size: 2.4vw;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

.md-topic-text{
	text-overflow: ellipsis;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	font-size: 4vw;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

.topic-text{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	font-size: 5vw;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

/* Colors */
	.dimgray{background-color: #5b7278;}
	.purp{background-color:#d890ff;}
	.lightblue{background-color: #47e3ff;}
	.limegreen{background-color: #47ffbf;}
	.lightyellowgreen{background-color: #d9e0b3;}
	.yellowgreen{background-color: #a2b241;}
	.yellow{background-color: #ffed47;}
	.tomato{background-color: #ff6347;}

	.tan{background-color: #D2B48C;}
	.darkTan{background-color: #695a46;}

	.white{background-color: #fff;}
	.lightgray{background-color: #e5e5e5;}
	.gray{background-color: #666666;}
	.darkGray{background-color: #999999;}
	.black{background-color: black;}

	.ducati{background-color: #d40000;}
	.github{background-color:#6e5494;}

	.eit{background-color: #ffa500;}
	.hp{background-color: #0096d6;}
	.hpe{background-color: #0DAB7F;}
	.eit2{background: linear-gradient(to bottom right, #ff664c, #ffa500);}

	.redTxt{color: tomato;}
	.greenTxt{color: yellowgreen;}
	.ducatiTxt{color: #d40000;}
	.whiteTxt{color: #fff;}
	.blackTxt{color: #000;}

	.greenblue{background: linear-gradient(to bottom right, #47e3ff, #47ffbf);}
	.businessGray{background: linear-gradient(to bottom right, #a9b2bc, #e2e5e8);}
	.flColor{background: linear-gradient(to bottom right, #ffed47, #ffa500);}