*{
	text-decoration: none;
	-webkit-text-decoration-color: none;
	   -moz-text-decoration-color: none;
	        text-decoration-color: none;
	font-family: 'Anonymous Pro', monospace;
}

/* unvisited link */
a, a:hover, a:visited, a:link a:active{
  text-decoration: none;
  color: black;
}

/* Full width centered box for organizing div content */
.fw-box{
	width: 100%;
	margin: 0%;
	padding: 0%;
}

/* Full width image container with no padding or margins */
.fw-box img{
	margin: 0%;
	padding: 0%;
}

/* Medium width centered box for organizing div content */
.mw-box{
	width: 80%; 
	padding-right: 10%; 
	padding-left: 10%;
}

/* Small width box for organizing div content in columns of 3*/
.sm-box{
	width: 33.333%; 
	padding-top: 33%; 
	
	float: left; 
	position: relative;
}

/* Textured small width buttons for organizing button content in columns of 3*/
.sm-box-button{
	width: 27%; 
	padding-top: 27%;
	//border-style: solid;
	margin: 3vw;
	border-color: white;
	
	float: left; 
	position: relative;
}
.sbb-start {margin-left: 6vw; margin-right: 0vw;}
.sbb-end   {margin-left: 0vw; margin-right: 6vw;}

.sm-box-button:hover{
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5%;
}

/* Small width box for organizing div content in columns of 2, 
   one elongated and twice the size fo the first */
.dub-box{
	margin: 0px;
	width: 66.666%;
	padding-top: 33%;

	float: left;
	position: relative;
}

/* Tiny width box for organizing div content in columns of 6*/
.tiny-box{
	width: 16.666%;
	padding-top: 16.666%;

	float: left;
	position: relative;
}

.name{
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}

/* Simplified text formatting for small width boxes */
.sm-text{
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	position: absolute;
	margin-left: 3vw;
	//font-size: 2.4vw;
	width: 80%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}

/* Text formatting for tiny width boxes */
.sm-topic-text{
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	font-size: 2.4vw;
	width: 100%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}

/* Text formatting for sm-box's in a md-box */
.md-topic-text{
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	font-size: 4vw;
	width: 100%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}

/* Text formatting for sm-box */
.topic-text{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	font-size: 5vw;
	width: 100%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}

/* Text formatting for small width box buttons */
.textInButton{font-size: 4vw;}

/* Footer tag line fext formatting */
.ftl1{font-size: .8em; text-align: center;}
.ftl2{font-size: .6em; text-align: center;}

/* Colors */
	.dimgray{background-color: #5b7278;}
	.purp{background-color:#d890ff;}
	.lightblue{background-color: #47e3ff;}
	.seaGreen{background-color: #398778;}
	.limegreen{background-color: #47ffbf;}
	.lightYellowGreen{background-color: #d9e0b3;}
	.yellowgreen{background-color: #a2b241;}
	.yellow{background-color: #ffed47;}
	.tomato{background-color: #ff6347;}
	.fadedManila{background-color: #faf2de;}
	.tan{background-color: #D2B48C;}
	.darkTan{background-color: #695a46;}

	.white{background-color: #fff;}
	.offWhite{background-color: #f6f6f6;}
	.lightgray{background-color: #e5e5e5;}
	.gray{background-color: #666666;}
	.darkGray{background-color: #999999;}
	.black{background-color: black;}

	.ducati{background-color: #d40000;}
	.github{background-color:#6e5494;}

	.eit{background-color: #ffa500;}
	.hp{background-color: #0096d6;}
	.hpe{background-color: #0DAB7F;}
	.eit2{background: -webkit-gradient(linear, left top, right bottom, from(#ff664c), to(#ffa500));background: -o-linear-gradient(top left, #ff664c, #ffa500);background: linear-gradient(to bottom right, #ff664c, #ffa500);}

	.redTxt{color: tomato;}
	.greenTxt{color: yellowgreen;}
	.ducatiTxt{color: #d40000;}
	.whiteTxt{color: #fff;}
	.blackTxt{color: #000;}

	.blush{background: -o-radial-gradient(circle, #edfdfa, #ecfff8, #ffd0c7);background: radial-gradient(circle, #edfdfa, #ecfff8, #ffd0c7);}
	.greenblue{background: -webkit-gradient(linear, left top, right bottom, from(#47e3ff), to(#47ffbf));background: -o-linear-gradient(top left, #47e3ff, #47ffbf);background: linear-gradient(to bottom right, #47e3ff, #47ffbf);}
	.businessGray{background: -webkit-gradient(linear, left top, right bottom, from(#a9b2bc), to(#e2e5e8));background: -o-linear-gradient(top left, #a9b2bc, #e2e5e8);background: linear-gradient(to bottom right, #a9b2bc, #e2e5e8);}
	.mkcDIYATX{background-image: -o-radial-gradient(circle, ##e0e6e9, ##eff2f4, ##6b7379);background-image: radial-gradient(circle, ##e0e6e9, ##eff2f4, ##6b7379);}
	.flColor{background: -webkit-gradient(linear, left top, right bottom, from(#ffed47), to(#ffa500));background: -o-linear-gradient(top left, #ffed47, #ffa500);background: linear-gradient(to bottom right, #ffed47, #ffa500);}