*{
	text-decoration: none;
	text-decoration-color: none;
	font-family: 'Anonymous Pro', monospace;
}

/* unvisited link */
a, a:hover, a:visited, a:link a:active{
  text-decoration: none;
  color: black;
}

.mw-box{
	width: 80%; 
	padding-right: 10%; 
	padding-left: 10%;

}

.fw-box{
	width: 100%;
	margin: 0%;
	padding: 0%;
}

.fw-box img{
	margin: 0%;
	padding: 0%;
}

.sm-box{
	width: 33.333%; 
	padding-top: 33%; 
	
	float: left; 
	position: relative;
}

.half-box{
	margin: 0%;
	padding: 0%;
	width: 50%;
	
	float: left; 
	position: relative;
}

.dub-box{
	margin: 0px;
	width: 65%;
	padding-top: 33%;

	float: left;
	position: relative;
}

.tiny-box{
	width: 16.666%;
	padding-top: 16.666%;

	float: left;
	position: relative;
}

.name{
	top: 50%;
	transform: translateY(-50%);
}

.sm-text{
	text-overflow: ellipsis;
	position: absolute;
	margin-left: 3vw;
	//font-size: 2.4vw;
	width: 80%;
	top: 50%;
	transform: translateY(-50%);
}

.sm-topic-text{
	text-overflow: ellipsis;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	font-size: 2.4vw;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}


.topic-text{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	font-size: 5vw;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

/* Colors */
.lightblue{background-color: #47e3ff;}
.lightgray{background-color: lightgray}
.limegreen{background-color: #47ffbf;}
.dimgray{background-color: #5b7278;}
.yellow{background-color: #ffed47;}
.tomato{background-color: #ff6347;}
.white{background-color: #fff;}
.gray{background-color: #666666;}
.tan{background-color: #D2B48C;}
.darkTan{background-color: #695a46;}
.lightgray{background-color: #e5e5e5;}
.gray{background-color: #999999;}
.black{background-color: black;}
.eit{background-color: #ffa500;}
.hp{background-color: #0096d6;}
.hpe{background-color: #0DAB7F;}
.eit2{background: linear-gradient(to bottom right, #ff664c, #ffa500);}

.whiteTxt{color: #fff;}
.blackTxt{color: #000;}

.greenblue{background: linear-gradient(to bottom right, #47e3ff, #47ffbf);}
.businessGray{background: linear-gradient(to bottom right, #a9b2bc, #e2e5e8);}
.flColor{background: linear-gradient(to bottom right, #ffed47, #ffa500);}